# Python cache
__pycache__/
*.pyc

# Local databases
users.db

# Student logs & workspaces folder
excel_templates/

# Uploaded files inside static
static/uploads/

# Environment configurations
.env

# IDE configurations
.vscode/
.idea/
