# Python cache
__pycache__/
*.pyc

# Local databases
# users.db (tracked)
users.db-shm
users.db-wal
users_restored.db

# Student logs & workspaces folder
excel_templates/

# Uploaded files inside static
static/uploads/

# Environment configurations
.env

# IDE configurations
.vscode/
.idea/
